secrets/ export-ignore
tests/ export-ignore
scripts/ export-ignore
adr/ export-ignore
img/ export-ignore
ansible/ export-ignore
contrib/ export-ignore
docker-compose.yml export-ignore
.dockerignore export-ignore
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
AGENTS.md export-ignore
DESIGN.md export-ignore
CONTRIBUTING.md export-ignore
noxfile.py export-ignore
mypy.ini export-ignore
