{% extends "base.html" %}

{% block title %}{{ t('notfound.title') }}{% endblock %}
{% block description %}{{ t('notfound.description') }}{% endblock %}

{% block content %}
<section class="card empty">
  <img src="/static/img/expired.svg" alt="" width="320" height="220">
  <p class="kicker">{{ t('notfound.kicker') }}</p>
  <h1>{{ t('notfound.title') }}</h1>
  <p class="lede">{{ t('notfound.lede', minutes=result_ttl_minutes) }}</p>
  <p>
    <a class="btn btn-primary" href="/">{{ t('notfound.action') }}</a>
  </p>
</section>
{% endblock %}
